<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- HandlerMapping : name에 해당하는 요청이 왔을 경우, 해당 class를 수행하라. -->
	<bean name="test" class="test.TestController"></bean>
	<bean name="index" class="test.IndexController"></bean>
	<bean name="search" class="member.SearchController"></bean>

	<!-- 스프링이 제공하는 ViewResolver를 등록 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- setter인젝션으로, prefix를 사용해 접두사를 정해주는 작업, suffix를 통해 접미사를 정해주는 작업. -->
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>

	</bean>

</beans>
